.root{
  border: 1px solid rgba(0,0,0, .1);
  width: 350px;
  border-radius:10px;
  position: relative;
  padding: 10px 20px;
  left: -130px;
}

.icon{
  width: 24px;
  height: 24px;
  opacity: .35;
  position: absolute;
  top: 9px;
  left: 5px;
}

.input{
  font-size: 16px;
  border:none;
  padding-left: 15px;
}

.clearIcon{
  width:30px;
  height:30px;
  position:absolute;
  right: 15px;
  top: 6px;
  opacity: .5;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}

